    body {
        font-size: 1.2em;
        box-sizing: border-box;
        color: #ffffff;
        transition: 0.5s;
    }
    
    img {
        border: 1px solid rgba(42, 14, 54, 0.986);
        border-radius: 15px;
    }
    
    a {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
    }
    
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        background-color: none;
        color: #ffffff;
    }
    
    .user-details {
        position: relative;
        top: 80px;
    }
    
    .user-avatar {
        position: absolute;
        top: 170px;
    }
    
    #user-search .display-4 {
        margin-top: 20px;
    }
    
    #user-box {
        margin-bottom: 40px;
    }
    
    #location-box {
        margin-top: 90px;
    }
    
    #html-url {
        position: relative;
        top: 210px;
        background-color: rgba(23, 37, 43, 0.986);
        color: #ffffff;
        width: 460px;
        font-size: 1.2em;
        padding: 13px;
        text-align: center;
        border-radius: 20px;
    }
    
    .followers {
        position: relative;
        top: 220px;
    }
    
    #followers-panel {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    #bio {
        padding: 10px;
    }
    
    .img-followers {
        width: 350px;
    }